* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}


body {
    background-color: rgb(255, 255, 255);
}


/*----TYPE----*/
@font-face {
    font-family: Manrope ExtraLight;
    src: url('../Fonts/Manrope/Manrope-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: Manrope Light;
    src: url('../Fonts/Manrope/Manrope-Light.ttf') format('truetype');
}

@font-face {
    font-family: Manrope Medium;
    src: url('../Fonts/Manrope/Manrope-Medium.ttf') format('truetype');
}


@font-face {
    font-family: Manrope Bold;
    src: url('../Fonts/Manrope/Manrope-Bold.ttf') format('truetype');
}


.b_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.b_text_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.H1{
    font-family: Manrope Medium;
    font-size: 4em;
    line-height: 4;
}

.H2{
    font-family: Manrope bold;
    font-size: 0.9em;
    text-transform: uppercase;
    width: 450px;
    text-align: center;
    line-height: 3;
}

.H3{
    font-family: Manrope Light;
    font-size: 0.9em;
    width: 450px;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 8px;
}






.b_img{
 width: 100%;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
 height: auto;

 display: flex;
 justify-content: center;
}

.img{
    background-color: gray;
    width: 100%;
}

.video{
    width: 80%; 
}